{% extends "./base.html" %}

{% block content %}
    <h1>Inventory of the day :</h1>
    <a href="{% url 'inventory_app:add_ingredient' %}">Add new ingredient</a>
        <table>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Unit Pirce</th>
            </tr>
            {% for ingredient in object_list %}
                <tr>
                    <td><a href="{% url 'inventory_app:update_ingredient' ingredient.pk %}">{{ ingredient.name }}</a></td>
                    <td>{{ ingredient.quantity }}</td>
                    <td>{{ ingredient.unit }}</td>
                    <td>{{ ingredient.unit_price }}</td>
                    <td><a href="{% url 'inventory_app:delete_ingredient' ingredient.pk %}">Delete</a></td>
                </tr>
            {% endfor %}
    </table>

{% endblock %}