{% extends "./base.html" %}

{% block content %}
<h2>Menu</h2>
<a href="{% url 'inventory_app:add_menu' %}">Add Menu</a>
<a href="{% url 'inventory_app:add_requirement' %}">Add Recipe Requirement</a>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Recipe</th>
    </tr>
    {% for item in object_list %}
        <tr>
            <td><a href="{% url 'inventory_app:update_menu' item.pk%}"> {{ item.title }}</a></td>
            <td>{{ item.price|stringformat:".2f" }}</td>
            <td>
                <ul>
                    {% for recipe_requirement in item.requirements.all %}
                    <li>{{ recipe_requirement.quantity }} {{recipe_requirement.ingredient.unit }} {{ recipe_requirement.ingredient.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td><a href="{% url 'inventory_app:delete_menu' item.pk %}">Delete</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}





<!-- 
<h1>Menu :</h1>
<a href="{% url 'inventory_app:add_menu' %}">Add Menu</a>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
        </tr>
        {% for item in object_list %}
            <tr>
                <td><a href="{% url 'inventory_app:update_menu' item.pk%}"> {{ item.title }}</a></td>
                <td>{{ item.price }}</td>
                <td><a href="{% url 'inventory_app:delete_menu' item.pk %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table> -->